test_params_create
*

!/**/
!*.py
!*.html
!*.css
!*.js
!*.png
!*.jpg
!*.sql
!.gitignore
!README.md
!AUTHORS
!requirements.txt
!*.sh

# exclude driver test files
*-*main*.py
.venv/

0-setup_web_static.sh
2-do_deploy_web_static.py
1-pack_web_static.py
3-deploy_web_static.py
100-clean_web_static.py
101-setup_web_static.pp
create_test_env
destroy_test_env
requirements.txt
main_place_amenities.py
web_flask/
